
h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;

} 

#mainlogo {
	position: left;
   left: 0px;
   width: 400px;
   border: none;
   margin-bottom: 100px;
  
}

body {
	background-color: #d3caaa;
	background-image: url("http://i19.photobucket.com/albums/b194/NeKoKoDiTtO1313/background.png");
   background-repeat: repeat;

}

.main-nav {
	list-style-type: none;
   margin: 100 px;
   margin-top: 40px;
   overflow: hidden; 
   font-size: 18pt; 
    text-align: center;  
    padding-bottom: 20px;
}

.main-nav li {
	display: inline-block;
 

}

a:link, a:visited {
    display: inline-block;
    width: 200px;
    font-family: 'Permanent Marker', cursive;
    color: #3c401b;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;

}

a:hover, a:active {
    color: #e8c25c;
}



.picture-scroller {
    width: auto;
    height: 400px;
    background-color: grey;

}

/* resize images */
.picture-scroller img {
    width: 100%;
    height: auto;
}

.img-slider {
  list-style-type: none;
  height: 400px;
  width: 700px;
  display: block;


}

.header {
  font-family: 'Philosopher', sans-serif;
  font-size: 25px;
}

.location-content {
  margin: 20px;
}


.loctext {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 16px;
  float: left;
  display: block;
  width: 300px;
}

.clearfix {
  width: 100%;
  height: 15px;
  display: block;
  clear: both;

}


.gmaps {
  float: right;
  display: block;

}

.location-content {
  margin: 20px;
}

.about-content {
  margin: 20px;

}

.story {
  display: block;
  width: 400px;
  height: 100%;
  margin: 20px;
  float: left;

}

.story-picture {
  display: block;
  margin: 20px;
  float: right;
}

#bryan {
  height: 250px;
  width: 350px;
}


.content {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 16px;


}

/* CSS for fixed element (twitter? Logo?) in lower right corner */
.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 70px;
  background-color: #d3caaa;
  border: 2px;
  border-style: dashed;
  font-family: 'PT Sans Caption', sans-serif;

}